JENKINS_HOME="{{ jenkins_master_home }}"
JENKINS_JAVA_CMD=""
JENKINS_USER="{{ jenkins_master_user }}"
JENKINS_JAVA_OPTIONS="{{ jenkins_master_java_opts | join (' ') }}"
JENKINS_PORT="{{ jenkins_master_port }}"
JENKINS_LISTEN_ADDRESS=""
JENKINS_HTTPS_PORT=""
JENKINS_HTTPS_KEYSTORE=""
JENKINS_HTTPS_KEYSTORE_PASSWORD=""
JENKINS_HTTPS_LISTEN_ADDRESS=""
JENKINS_DEBUG_LEVEL="5"
JENKINS_ENABLE_ACCESS_LOG="no"
JENKINS_HANDLER_MAX="100"
JENKINS_HANDLER_IDLE="20"
JENKINS_ARGS="--prefix={{ jenkins_master_url_prefix }} {{ jenkins_master_jenkins_opts }}"
